<div class="form-new col-xs-6">
	<h2>Login</h2>

	<%= form_for @user, url: "/sessions", method: "post" do |f| %>
	  <div class="form-group">
	  	<%= f.label :email %>
	    <%= f.email_field :email, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :password %>
	    <%= f.password_field :password, class: "form-control" %>
	  </div>
	  <%= f.submit "Log In", class: "btn btn-default" %>
	<% end %>
</div>
